body{
    background-color: rgb(255, 255, 255);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.content{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 30px;
    gap: 60px;
    height: 450px;
}

footer{
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    right: 45%;
    background-color: rgb(246, 255, 0);
    text-align: center;
    width: 100%;
    left: 0;
}
 .row{
    margin-right: 100px;
 }

 .RightColumn{
    position: absolute; 
    margin-left: 50%;
    width: 45%;   
 }

 .profesionalni{
    font-size: 20px;
 }

 .section{
   position: flex;
   
   height: 600px;
    background-color: rgb(198, 198, 198);
 }

 html{
    scroll-behavior: smooth;
 }

 .text1{
   font-family: "Sentient-Bold";
 }

 .LeftColumn{
   display: flex;
   flex-direction: row;
   
 }

 .PLeftColumn{
   display: flex;
   flex-direction: row;
 }

 .PRightColumn{
   position: absolute; 
   margin-left: 50%;
   width: 50%;  
   overflow: hidden;
   display: flex;
   flex-direction: row;
  
}

.Project_Text{
   display: flex;
   flex-direction: row;
   width: 50%;
   overflow: hidden;
}
 
@media (width <= 1250px) {
   footer{
      color: rgb(0, 0, 0);
      position: fixed;
      bottom: 0;
      right: 45%;
      background-color: rgb(75, 160, 0);
      text-align: center;
      width: 100%;
      left: 0;
  }
}

@media (width <= 564px),(width >= 850) {
   footer{
      color: rgb(255, 255, 255);
      position: fixed;
      bottom: 0;
      right: 45%;
      background-color: rgb(64, 0, 255);
      text-align: center;
      width: 100%;
      left: 0;
  }
  
   .content{
      display: flex;
      flex-direction: column;
  }
  .LeftColumn{
   display: flex;
   flex-direction: column;
   }
   .PRightColumn{ 
      display: flex;
      flex-direction: column;
   }
}

/*mobily*/
@media (width <= 650px) {
   footer{
      color: rgb(255, 255, 255);
      position: fixed;
      bottom: 0;
      right: 45%;
      background-color: rgb(255, 0, 230);
      text-align: center;
      width: 100%;
      left: 0;
  }
  
   .content{
      display: flex;
      flex-direction: column;
  }
  .LeftColumn{
   display: flex;
   flex-direction: column;
   }
   .PRightColumn{ 
      display: flex;
      flex-direction: column;
   }
}

/*Projekty_page*/
.Project_Text{
   font-size: 130%;
   overflow: hidden;
   word-wrap: break-word;
}